#dqf_fields,
#dqf_fields_header {
    padding: 0;
    margin: 0;
    border-right: 1px solid gray;
}

#dqf_fields {
    border-bottom: 1px solid gray;
}

#dqf_fields li.dqf_field,
#dqf_fields_header li,
#dqf_fields li#dqf_fields_footer {
    padding: 3px;
    margin: 0;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    line-height: 24px;
}

#dqf_fields li#dqf_fields_footer {
    height: 24px;
}

.dqf_add_remove_controls {
    float: left;
    margin-right: 5px;
}

#dqf_search_button {
    float: right;
}

.dqf_button {
    opacity: 0.6;
}

.dqf_button:hover {
    opacity: 0.8;
}

.dqf_button:active {
    opacity: 1;
}

ul.errorlist {
    background-color: #fdd;
}

.right { float: right; }