#dqf_fields,
#dqf_fields_header {
    padding: 0;
    margin: 0;
    border-right: 1px solid #ddd;
}

#dqf_fields {
    border-bottom: 1px solid #ddd;
}

#dqf_fields li.dqf_field,
#dqf_fields_header li,
#dqf_fields li#dqf_fields_footer {
    padding: 3px;
    margin: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    line-height: 24px;
    
    background:#E1E1E1 url(/media/img/admin/nav-bg.gif) repeat-x scroll left top;
    border-bottom:;
    color:#666666;
}

#dqf_fields li.dqf_field input,
#dqf_fields_header li input,
#dqf_fields li#dqf_fields_footer input {
    font-size:11px;
    padding: 2px;
/*    border:1px solid #ccc;*/
}

#dqf_fields li.dqf_field input,
#dqf_fields li.dqf_field select,
#dqf_fields li.dqf_field img,
#dqf_fields_header li input,
#dqf_fields_header li select,
#dqf_fields_header li img,
#dqf_fields li#dqf_fields_footer input,
#dqf_fields li#dqf_fields_footer select,
#dqf_fields li#dqf_fields_footer img1 {

    margin: 0 3px;
}

#dqf_fields li#dqf_fields_footer {
    padding: 6px 3px;
    height: 24px;
}

.dqf_add_remove_controls {
    float: left;
    margin-right: 5px;
}

#dqf_search_button {
    float: right;
}

.dqf_button {
    opacity: 0.6;
}

.dqf_button:hover {
    opacity: 0.8;
}

.dqf_button:active {
    opacity: 1;
}

ul.errorlist {
    background-color: #fdd;
}

.right { float: right; }